﻿<template>
    <div>

        <div v-if="isAddMotor === false">
            <button class="btn btn-primary" type="button" @click="addNewMotor">Add new motor</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Motor Name</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(motor,index) in motors" :key="index">
                        <td>{{motor.motorId}}</td>
                        <td>{{motor.motorName}}</td>
                        <td>{{motor.jumlahMotor}}</td>
                        <td>
                            <a :href="'/motor/update?motorId='+motor.motorId+'&motorName='+motor.motorName+'&jumlahMotor='+motor.jumlahMotor" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deleteMotor(motor.motorId)">
                                <fa-icon icon="trash-alt"></fa-icon>Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12 d-flex">
                    <ul class="pagination ml-2" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div v-if="isAddMotor === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertMotor">
                    <label class="col-form-label">Motor Name</label>
                    <validation-provider name="Motor Name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newMotor.motorName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label>Quantity</label>
                    <validation-provider name="Quantity" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newMotor.jumlahMotor" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>Submit
                    </button>
                </form>
            </validation-observer>
        </div>

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { MotorModel, MotorService } from '../services/nswagservice';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListMotor) {
            await this.fetch();
        }
    })
    export default class ListMotor extends Vue {
        service: MotorService = new MotorService();

        motors: MotorModel[] = [];

        newMotor: MotorModel = {
            motorId: 0,
            motorName: '',
            jumlahMotor: 0
        }

        isAddMotor = false;

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.motors = await this.service.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async getMotors(): Promise<void> {
            this.motors = await this.service.getAllMotor();
        }

        async insertMotor(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            await this.service.insertNewMotor(this.newMotor.motorId, this.newMotor.motorName, this.newMotor.jumlahMotor);
            await this.getMotors();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            this.isAddMotor = false;
        }

        async deleteMotor(motorId: number): Promise<void> {

            swal.fire({
                title: 'Are you sure?',
                text: "Delete this motor data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.deleteMotor(motorId);
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
            await this.getMotors();
        }

        addNewMotor(): void {
            this.isAddMotor = true;
            return;
        }
    }
</script>
