﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateMotor">
                <label class="col-form-label">Motor Name</label>
                <validation-provider name="Motor Name" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newMotor.motorName" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label>Quantity</label>
                <validation-provider name="Quantity" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newMotor.jumlahMotor" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { MotorService, MotorModel } from '../services/nswagservice';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateMotor) {
            await this.getSpecificMotor()
        }
    })
    export default class UpdateMotor extends Vue {
        service: MotorService = new MotorService();

        newMotor: MotorModel = {
            motorId: 0,
            motorName: '',
            jumlahMotor: 0
        }


        async updateMotor(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this employee data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.updateMotor(this.newMotor.motorId, this.newMotor.motorName, this.newMotor.jumlahMotor);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )
                }
            })
        }

        async getSpecificMotor(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const motorId = urlParams.get('motorId')?.valueOf();
            var motorId1 = Number(motorId)
            this.newMotor = await this.service.getSpecificMotor(motorId1);
        }
    }
</script>
